<!DOCTYPE html><html><head>
    <script src="{% load static %}{% static 'p5.js' %}"></script>
    <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.0.2/dist/tfjs-vis.umd.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% load static %}{% static 'style.css' %}">
    <meta charset="utf-8">

  </head>
  <body>
    <script src="{% load static %}{% static 'MarchingSquaresVsAI/sketch.js' %}"></script>
    <script src="{% load static %}{% static 'MarchingSquaresVsAI/NeuralNetwork.js' %}"></script>
    <script src="{% load static %}{% static 'MarchingSquaresVsAI/NeuralNetwork_TF.js' %}"></script>
</body></html>