<html>
<head>
	<title id="HostId">{{ HostId }}</title>
	<meta charset="UTF-8">
    <script src="{% load static %}{% static 'p5.js' %}"></script>
    <script src="{% load static %}{% static 'socket.io-1.4.5.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% load static %}{% static 'style.css' %}">
    <meta charset="utf-8">

</head>

<body>
    <script src="{% load static %}{% static 'Agar/public/sketch.js' %}"></script>
    <script src="{% load static %}{% static 'Agar/public/MainBlob.js' %}"></script>
    <script src="{% load static %}{% static 'Agar/public/NormalBlob.js' %}"></script>
</body>
</html>
