<html>

<head>
  <script src="{% load static %}{% static 'p5.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% load static %}{% static 'style.css' %}">
</head>

<body>
  <script src="{% load static %}{% static 'GeneticAlgorithm/dna.js' %}"></script>
  <script src="{% load static %}{% static 'GeneticAlgorithm/population.js' %}"></script>
  <script src="{% load static %}{% static 'GeneticAlgorithm/rocket.js' %}"></script>
  <script src="{% load static %}{% static 'GeneticAlgorithm/sketch.js' %}"></script>
</body>

</html>
